---
import { BaseLayout } from "../layouts";
---

<BaseLayout>
  <main>
    <div class="banner-wrapper">
    </div>

  </main>
</BaseLayout>

  <style lang="scss">
    //MOBILE AND TABLET
    main {
      .banner-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 100%;
        height: 100%;

        img {
          width: 100%;
          height: auto;
          z-index: 100;
        }

        .wrapper-content {
          width: 90%;
          margin: auto;
          color: #fff;
          text-transform: uppercase;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          z-index: 200;
          @media (min-width: 920px) {
            width: 60%;
          }

          .quote-wrapper {
            padding: 2em 0 0 0;

            a {
              text-decoration: auto;
            }
          }
        }
      }
    }
  </style>
